@use 'projects'
$pink: #ffaacc
$dark: #252525
$light-grey: #EAEAEF

@font-face
  font-family: biko
  src: url(../fonts/biko.otf)

html
  scroll-behavior: smooth

body
  font-family: biko, sans-serif
  font-weight: 400
  font-size: 18px
  color: $dark
  background-color: white
  margin: 0


#face
  position: absolute
  opacity: 0.1
  max-width: 400px
  left: calc(50vw - 200px)
  top: calc(50vh - 221px)
  z-index: -100

p
  font-family: 'Space Mono'
  font-size: 12px
  color: $dark
  letter-spacing: 0.7px
  padding-bottom: 20px

#contact-button
  position: fixed
  z-index: 100
  left: 34px
  top: 30px

#name
  position: fixed
  bottom: 30px
  left: 34px

h1
  font-weight: 400
  font-size: 50px
  font-family: biko

.hero
  height: calc(50vh)
  h1
    margin-top: calc(50vh - 50px)
    line-height: 1.1
    img
      width: 0
    mark
      white-space: nowrap

#projects
  max-width: calc(100vw - 220px)
  margin: auto
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-top: 160px
  margin-bottom: 230px
  div
    margin-bottom: 70px
    width: 48%
    a
      img
        width: 100%
        outline: 2px solid $light-grey
        &:hover
          border: none
          cursor: pointer
          outline: 2px solid $pink
      &:active
        opacity: 0.7
  .coming
    a
      img
        outline: 2px solid rgba($light-grey, 0.5)
        &:hover
          outline: 2px solid $light-grey
          cursor: default
    p
      color: rgba($dark,0.2)
  p
    user-select: none
    padding-bottom: 2px

#skills
  margin-bottom: 60px

#history
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  .year
    width: 310px
    padding-bottom: 90px
    p
      margin-top: 0
      margin-bottom: 0
    .description
      font-size: 18px
      color: $dark
      margin-top: 0
      line-height: 24px

#contact
  .logos
    padding-top: 30px
    div
      display: inline-block
      margin-right: 15px
      padding-right: 15px
      &:last-child
        margin-right: 0
        padding-right: 0
    a
      img
        width: 20px
      border: none
      line-height: normal
      &:hover
        border: none
        line-height: normal
        opacity: 0.5
  .contact-links
    height: 20px
    a
      font-weight: 300
      font-family: 'Space Mono'
      letter-spacing: 1px
      transition: all 100ms ease
      display: inline-block
  padding-top: 50px
  padding-bottom: 60px
  margin-bottom: 35vh
  margin-top: 140px
  > div:first-child
    margin-bottom: 30px
.container
  max-width: 840px
  margin: auto
#cv-download
  margin-bottom: 300px

.pink-button
  a
    font-family: 'Space Mono'
    text-decoration: none
    img
      width: 0
      position: relative
      top: 6px
      left: 6px
      transition: 0.1s width
    mark
      background-color: rgba($pink, 0.6)
      transition: 0.1s background-color
      &:hover
        background-color: rgba($pink, 1)
    mark:hover + img
      width: 14px
a.big-button
  font-family: 'biko'
  white-space: nowrap
  img
    top: 12px
    left: 8px
.mobile-only
  display: none
@media (max-width: 1024px)
  .container
    max-width: calc(100vw - 220px)
  .hero.container
    width: 570px
@media (max-width: 875px)
  .hero.container
    width: 350px
  #contact-button
    left: 20px
    top: 20px
  #name
    bottom: 20px
    left: 20px
  .container
    max-width: calc(100vw - 160px)
  #face
    width: 200px
    left: calc(50vw - 100px)
    top: calc(50vh - 140px)
  #contact, .hero, #cv-download
    a
      img
        width: 14px
  .pink-button
    a
      img
        top: 7px
        left: 4px
  h1
    font-size: 30px
  #projects
    padding-top: 100px
    display: flex
    justify-content: space-between
    div
      max-width: 1000px
      margin-right: 0
      width: calc(100vw - 140px)
      height: calc( (100vw - 140px) / (460/300))
      a
        width: calc(100vw - 140px)
        height: calc( (100vw - 140px) / (460/300))
  .contact-links, #cv-download
    font-size: 16px
    a
      img
        top: 6px
        left: 6px
@media (max-width: 415px)
  .mobile-only
    display: inline
  .container
    max-width: calc(100vw - 68px)
  .hero
    h1
      margin-top: calc(50vh - 80px)
  #name
    opacity: 0.3
    z-index: -100

  #projects
    padding-top: 100px
    max-width: calc(100vw - 68px)
    div
      margin-right: 0
      width: calc(100vw - 40px)
      height: calc( (100vw - 40px) / (460/300))
      a
        width: calc(100vw - 40px)
        height: calc( (100vw - 40px) / (460/300))

  body
    font-size: 22px
  h1
    font-size: 26px

  #contact
    margin-bottom: 130px
